<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>It's five o'clock in...</title>    
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css"></link>
    @RenderSection("styles", required: false)
</head>
<body>
    @RenderBody()
    
    @RenderSection("scripts", required: false)
</body>
</html>
