@import url(http://fonts.googleapis.com/css?family=Droid+Sans);
body
{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
h1
{
    color: #fff;
    text-align: center;
    font-size: 70px;
    margin-top: 10%;
    text-shadow: 2px 2px #000000;
    font-family: 'Droid Sans', sans-serif;
}        