@model string

@section styles
{
    <style>
        body
        {
            background: url(@Url.Content("~/Content/Images/" + Model.Replace(" ", "") + ".jpg")) no-repeat center center fixed;
        }
    </style>
}

<h1>It's five o'clock in @Model</h1>

@section scripts {
<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-43244514-1']);
    _gaq.push(['_setDomainName', 'itsfiveoclock.in']);
    _gaq.push(['_trackPageview']);

    (function () {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

</script>    
}